APP_NAME="Chat Mybrillian"
APP_ENV=production
APP_KEY=base64:2k0Mi2I2tA9HeDc+c6GbsmUOFShj1y0qXmlksCEk9Gk=
APP_DEBUG=true
APP_URL=https://chat.mybrilian.comh
OPENCLAW_PUBLIC_BASE_URL=https://chat.mybrilian.com

OPENCLAW_GATEWAY_SEND_DEBUG=1

OPENCLAW_BASE_URL=https://e58c-2404-c0-a302-da0b-90f9-dd94-735-141d.ngrok-free.app
OPENCLAW_HOOK_PATH=/hooks/agent
OPENCLAW_HOOK_TOKEN=

OPENCLAW_WHATSAPP_ENABLED=true
OPENCLAW_WHATSAPP_CHANNEL=whatsapp
OPENCLAW_WHATSAPP_ACCOUNT=
OPENCLAW_WHATSAPP_TRANSPORT=gateway

OPENCLAW_BRIDGE_TOKEN=8f2a7d5c1b0e4a2f9c8d7e6b5a4f3210

OPENCLAW_GATEWAY_URL=https://e58c-2404-c0-a302-da0b-90f9-dd94-735-141d.ngrok-free.app
OPENCLAW_GATEWAY_ORIGIN=https://e58c-2404-c0-a302-da0b-90f9-dd94-735-141d.ngrok-free.app
OPENCLAW_GATEWAY_TOKEN=

OPENCLAW_NODE_PATH=/usr/bin/node
OPENCLAW_SCRIPT_PATH=/usr/lib/node_modules/openclaw/index.js
OPENCLAW_STATE_DIR=
OPENCLAW_CONFIG_PATH=



APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_chat_mybrilian
DB_USERNAME=chat_mybrilian
DB_PASSWORD=x13j1EdLLrjx3q7XaaQXmSW7PdnNh0Qa3VnhtVLH

SESSION_DRIVER=database
SESSION_LIFETIME=86000
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false


VITE_APP_NAME="${APP_NAME}"

REVERB_APP_ID=123456
REVERB_APP_KEY=livechatkey
REVERB_APP_SECRET=livechatsecret
REVERB_HOST=127.0.0.1
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
VITE_APP_NAME="${APP_NAME}"

WHAPI_TOKEN=EcveqHw3XhNMgh6gfvLyZfK7rcpWBFh4
GEMINI_API_KEY=AIzaSyBhlEFlxfuAwjTFIAKEhs9Sq6RkWfPGrJk
WHAPI_ADMIN_NUMBER=6283179191601
